<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crearIssue</key>
	<dict>
		<key>url</key>
		<string>https://api.test.pace.abaqus.cl/</string>
		<key>x-api-key</key>
		<string>d6a2b07a2e40dd82dd007773799583b876291bbe</string>
	</dict>
	<key>totalVaueCurrency</key>
	<dict>
		<key>url</key>
		<string>https://api.test.pace.abaqus.cl/portfolios/positions/?currency=USD</string>
		<key>x-api-key</key>
		<string>d6a2b07a2e40dd82dd007773799583b876291bbe</string>
	</dict>
	<key>totalVaueCharts</key>
	<dict>
		<key>url</key>
		<string>https://api.test.pace.abaqus.cl/portfolios/performance/</string>
		<key>x-api-key</key>
		<string>d6a2b07a2e40dd82dd007773799583b876291bbe</string>
	</dict>
	<key>totalVaueBalance</key>
	<dict>
		<key>url</key>
		<string>https://api.test.pace.abaqus.cl/accounts/cash-balance/</string>
		<key>x-api-key</key>
		<string>d6a2b07a2e40dd82dd007773799583b876291bbe</string>
	</dict>
	<key>totalVaueListPortafolio</key>
	<dict>
		<key>url</key>
		<string>https://api.test.pace.abaqus.cl/portfolios/positions/?currency=</string>
		<key>x-api-key</key>
		<string>d6a2b07a2e40dd82dd007773799583b876291bbe</string>
	</dict>
	<key>totalVaueReturn</key>
	<dict>
		<key>url</key>
		<string>https://api.test.pace.abaqus.cl/portfolios/returns/</string>
		<key>x-api-key</key>
		<string>d6a2b07a2e40dd82dd007773799583b876291bbe</string>
	</dict>
	<key>totalVaueSearch</key>
	<dict>
		<key>url</key>
		<string>https://api.test.pace.abaqus.cl/assets/search/?query=</string>
		<key>x-api-key</key>
		<string>d6a2b07a2e40dd82dd007773799583b876291bbe</string>
	</dict>
	<key>getVauePercentage</key>
	<dict>
		<key>url</key>
		<string>https://api.test.pace.abaqus.cl/assets/</string>
		<key>x-api-key</key>
		<string>d6a2b07a2e40dd82dd007773799583b876291bbe</string>
	</dict>
	<key>getGraphicCurrency</key>
	<dict>
		<key>url</key>
		<string>https://api.test.pace.abaqus.cl/portfolios/performance/ytd/?currency=</string>
		<key>x-api-key</key>
		<string>d6a2b07a2e40dd82dd007773799583b876291bbe</string>
	</dict>
</dict>
</plist>
